<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" media="all" href="{{ url_for('static', filename='app.css') }}"/>

    <title>Vili</title>
  </head>
  <body>
    <div class="container">
      <h1>Vili</h1>
      {% block body %}
      {% endblock %}
    </div>
  </body>
</html>

