{% extends "layout.html" %}
{% block body %}
{% for message in get_flashed_messages() %}
<div class="alert alert-info">{{ message }}</div>
{% endfor %}
<h1>Customers</h1>
<table class="table table-striped">
  <tr>
    <th>Name</th>
    <th>Actions</th>
  </tr>
  {% for entry in entries %}
  <tr>
    <td>{{ entry.name }}</td>
    <td>
      <a href="{{ url_for('customer_edit_page', customer_id=entry.id) }}"><span class="glyphicon glyphicon-pencil"></span></a>
      <a href="#"><span class="glyphicon glyphicon-trash"></span></a>
    </td>
  </tr>
  {% endfor %}
</table>
Create new customer : <a href="{{ url_for('customer_new_page') }}">here</a>
{% endblock %}
